In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("C:\\Users\\agnes\\Documents\\apziva_ai_residency\\project2\\data\\term-deposit-marketing-2020.csv")
print(data)

       age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
39995   53    technician   married   tertiary      no      395      no   no
39996   30    management    single   tertiary      no     3340      no   no
39997   54         admin  divorced  secondary      no      200      no   no
39998   34    management   married   tertiary      no     1047      no   no
39999   38    technician   married  secondary      no     1442     yes   no

        contact  day month  duration  campaign    y
0       unknown    5   may       261         1   no
1       unknown    5   may       151         1   no
2       unknown    5   may        76         1   no
3       unknown    5   may        92         1   no
4       unknown    5   may       198         1   no
...         ...  ...   ...       ...       ...  ...
39995  cellular    3   jun       107         1   no
39996  cellular    3   jun       238         3  yes
39997  cellular    3   jun       170         1  yes
39998  cellular    3   jun       342         1   no
39999  cellular    3   jun       113         1   no

[40000 rows x 14 columns]

In [7]:
# data imbalance - check for imbalance in final target attribute (y)

class_count_0, class_count_1 = data['y'].value_counts()

# Separate class
class_0 = data[data['y'] == 'no']
class_1 = data[data['y'] == 'yes']# print the shape of the class
print('class 0:', class_0.shape)
print('class 1:', class_1.shape)

class 0: (0, 14)
class 1: (0, 14)

In [ ]:
# random forest --> check information gain 
# before logistic and random forest -> check correlation matrix and see what y is highly correlated